@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    text-align: left;
}

h6 {
	text-align: left;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.frame_booter {
	position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: auto;
    margin: 20px 0px 10px 10px;
    background-color: #000000;
	color: #fff;
	text-align: center;
}

/* ---------------------------------------------------
    Top Navigation STYLE
----------------------------------------------------- */
.navbar {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
    padding: 10px 0px;
    background: #303030;
    color: #ffffff;
    opacity:0.8;
    border: none;
    border-radius: 5;
    z-index: 9999;
}

#navbar-menuIcon {
	background-color: inherit;
	width: 10%;
}

#navbarSearchBox{
	background-color: inherit;
	width: 60%;
	padding-left: 150px;
}

.nav-item {
    padding-left: 10px;
    list-style: none;
    vertical-align: middle;
}

.dropdown-menu{
    left: auto;
    right: 0;
}

/*
#navbarSupportedContent ul li a:hover {
	background-color: blue;
	color: #ffff;
}
*/


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.btn-primary {
    background-color: #252525;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.frame_wrapper {
    display: flex;
    width: 100%;
    height: auto;
    z-index: 9990;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    padding-bottom: 40px;
    height: 100vh;
    z-index: 999;
    background: #232323;
    color: #ffffff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: inherit;
    text-align: center;
    border: thin;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 0.9em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ff8000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.line {
    margin : 0px 10px;
    width: 100%;
    height: 2px;
    border-bottom: 1px dashed #cccccc;
    
}

#content {
    position: absolute;
    top: 60px;
    right: 0;
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    color: #ffffff;
    background: #000000;
    
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media ( max-width: 768px ) 
{
    #sidebar {
        margin-left: -250px;
    }
    
    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
	
}
   
/* ---------------------------------------------------
	   Carousel Style
	----------------------------------------------------- */
#content .container  {
	padding: 0;
	margin: 0;
}

#content .row {
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 5px 0px;
}

#content .carouselTitle {
	display: flex;
	width: 100%;
	padding: 2px;
	margin : 0px 10px;
	
}

.carouselTitle-title{
	width: 90%; 
	float: left;
	
}
.carouselTitle-control{
	width: 10%; 
	float: right;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 10px;
	
}

.carousel-control-prev {
	float: left;
	position: relative;
}

.carousel-control-next{
	position: relative;
	float: right;
	
} 

.carousel-muti-items {
	width: 100%;
	margin : 0px 10px;
}

.carousel-inner {
	padding: 0px;
}

.carousel-row {
	text-align:center;
	margin : 0px 10px;
	
}

.carousel-img {
	max-width: 100%;
    max-height: 100%;
}

.carousel-img:hover 
{
    cursor: pointer;
    background-color: #232323;
}


.col-sm-3 {
	padding-left: 0px;
	padding-right: 15px;
}

.playBar{

    position: absolute;
    bottom: 0px;
    right: 50px;

}



